<!-- ======= Resume Section ======= -->
<section id="resume" class="page-section bg-primary">
    <div class="container text-center text-white" >
         <!-- Portfolio Section Heading-->
         <h2 class="page-section-heading text-center text-uppercase text-white mb-0">Experiencia Laboral</h2>
         <!-- Icon Divider-->
         <div class="divider-custom divider-light">
             <div class="divider-custom-line"></div>
             <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
             <div class="divider-custom-line"></div>
         </div>
      <div class="row">
        <div class="col">
          <div class="resume-item pb-0">
            <h3 class="text-uppercase mb-4 lead "><em>Mi camino como profesional</em></h3>
            <button class="btn btn-dark float-start" *ngIf="isAdmin" routerLink="/crear-experiencia-laboral">Agregar</button>
          </div>
          <div class="resume-item text-center" *ngFor="let experienciaLaboral of experienciasLaborales">
            <hr>
            <button routerLink="/editar-experiencia-laboral/{{experienciaLaboral.id}}" class="btn btn-secpndary float-end ml-5 mt-5" *ngIf="isAdmin"><i class="far fa-edit fa-2x text-dark"   ></i></button>
            <button *ngIf="isAdmin" (click)="eliminarExperienciaLaboral(experienciaLaboral.id)" class="btn btn-secpndary float-end ml-5 mt-5"><i class="fas fa-trash fa-2x text-danger" ></i></button> 
            <h4 class="text-uppercase mb-4">{{experienciaLaboral.nombre}} </h4>
            <h5>{{experienciaLaboral.fecha}}</h5>
            <p class="lead"><em>{{experienciaLaboral.institucion}}</em></p>
            <p class="lead">{{experienciaLaboral.informacion}}</p>
          </div>
        </div>
      </div>

     
    </div>
  </section><!-- End Resume Section -->

