<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col lg-4 ms-0"><p class="lead">{{persona.sobreMi}}</p></div>
            <div class="col lg-4 ms-0"><p class="lead">Actualmente me dedico a la programaciones web en la cual mi stack tecnologico es: HTML, CSS, JavaScript, Angular, PHP, SpringBoot y MySQL. 
             Conocimientos en metodologias agiles como: Git, SCRUM, Kanban, etc. Ademas me capacito constantemente en plataformas educativas(Udemy y Coursera), bootcamps y cursos que ofrecen distintas empresas.
            </p></div>
          
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="../../../assets/curriculum mateo teggi.pdf" download="CV Mateo Teggi">
                <i class="fas fa-download me-2"></i>
                Descarga mi CV!
            </a>
        </div>
    </div>
</section>
