<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Ubicacion</h4>
                <p class="lead mb-0">
                  {{persona.nombre}} {{persona.apellido}}
                    <br>
                    Argentina, Chivilcoy
                    <br>
                    {{persona.domicilio}}
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mis redes sociales</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/teggi10"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/mateo-teggi-16a05b194/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/teggimateo/"><i class="fab fa-fw fa-instagram"></i></a>
            </div>
            <!-- Footer information-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Informacion Adicional</h4>
                <p class="lead mb-0">
                  {{persona.email}}
                    <br>
                  {{persona.telefono}}
                    <br>
                    {{persona.fechaNac}}
                </p>
            </div>
        </div>
    </div>
</footer>
     <!-- Copyright Section-->
     <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright &copy; Mateo Teggi </small></div>
    </div>
